body {
    font-family: "Open Sans", "Verdana", "Arial", "sans-serif";
}

h1 {
  font-family: "Francois One", "serif"; 
}

p {
  margin: 1.5em 0 0;
  text-align: justify;
  line-height: 1.65em;
}

p.d {
  margin: 0;
}

